/**
B71C1C - Red
666666 - Light BG
444444 - Default BG
222222 - Darker BG
E5E5E5 - Text color
FFFFFF - Light text
000000 - Black text
777777 - Darker Text
90A4AE - Light / Blue text
**/

body {
    margin-top: 84px;
    color: #e5e5e5;

    background:
        /* top, transparent red, faked with gradient */
    linear-gradient(
            rgba(0, 0, 0, 0.34),
            rgba(0, 0, 0, 0.34)
    ),
        /* bottom, image */
    url('https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/10661933_866942000012963_3684470559605071775_o.jpg') no-repeat fixed center;

    /*background: #666666 url("https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/10661933_866942000012963_3684470559605071775_o.jpg") repeat fixed center center;*/
}
.navbar {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    font-size: 20px;
    transition: ease 200ms;
    -webkit-transition: ease 200ms;
}
.navbar:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}
#navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#fff;
}
.navbar-admin {
}
.navbar-default {
    background-color: #558B2F!important;
}
.row-centered {
    text-align:center;
}
.row {
    padding: 8px 8px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes colorChange {
    0%   {color: #3f51b5;}
    6%  {color: #4285f4}
    12%   {color: #03a9f4;}
    18%   {color: #00bcd4;}
    24%   {color: #009688;}
    30%   {color: #8bc34a;}
    36%   {color: #cddc39;}
    42%   {color: #ffeb3b;}
    48%   {color: #ff9800;}
    54%   {color: #ff5722;}
    60%   {color: #ff5722;}
    66%   {color: #f44336;}
    72%   {color: #f44336;}
    78%   {color: #e91e63;}
    84%   {color: #9c27b0;}
    90%   {color: #673ab7;}
    100%   {color: #3f51b5;}
}

/* Standard syntax */
@keyframes colorChange {
    0%   {color: #3f51b5;}
    6%  {color: #4285f4}
    12%   {color: #03a9f4;}
    18%   {color: #00bcd4;}
    24%   {color: #009688;}
    30%   {color: #8bc34a;}
    36%   {color: #cddc39;}
    42%   {color: #ffeb3b;}
    48%   {color: #ff9800;}
    54%   {color: #ff5722;}
    60%   {color: #ff5722;}
    66%   {color: #f44336;}
    72%   {color: #f44336;}
    78%   {color: #e91e63;}
    84%   {color: #9c27b0;}
    90%   {color: #673ab7;}
    100%   {color: #3f51b5;}
}

.text-version {
    cursor:default;
    margin-left: 2px;
    margin-right:2px;
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    -ms-transition: color 0.5s linear;
    -o-transition: color 0.5s linear;
    transition: background 0.5s linear;
}
.text-version:hover {
    -webkit-animation: colorChange 4s infinite; /* Chrome, Safari, Opera */
    animation: colorChange 4s infinite;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.col-border-right {
    border-right: 1px solid rgba(0,0,0,0.07);
}
.card {
    min-height: 20px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    border-radius: 2px;
    border: 0;
}
.card-dark {
    min-height: 20px;
    /*background-color: #444;*/
    background-color: rgba(0,0,0,0.55);
    box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    border-radius: 2px;
    border: 0;
}
.card-body p {
    color:#e5e5e5 !important;
}
.control-label {
    color: #78909C !important;
    font-size: 16px;
    margin-bottom: 4px;
}
.input-text {
    color: #B0BEC5 !important;
    font-size: 18px;
}
.card-body {
    padding: 2px 32px !important;
}
/*.card-outside:hover {*/
    /*background-color: #f9f9f9;*/
    /*margin-left: -5px;*/
    /*margin-right: -5px;*/
    /*box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);*/
/*}*/
/*.card-outside:active {*/
    /*background-color: #eeeeee;*/
/*}*/
.card-outside {
    border-bottom: 1px solid rgba(0,0,0,0.07);
    border-radius: 2px;
    transition: ease 200ms;
}
.card-outside-not-active:hover {
    background-color: #f9f9f9;
}
/*.card-outside-dark:active {*/
    /*background-color: #555555;*/
/*}*/
.card-outside-dark {
    border-bottom: 1px solid rgba(0,0,0,0.07);
    border-radius: 2px;
    transition: ease 200ms;
}
.card-outside-not-active {
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
}
.card-outside-colored-not-active {
    border-bottom: 1px solid rgba(0,0,0,0.07);
    border-radius: 2px;
    /*background-color: #009688;*/
    background-color: #666;

}
.card-outside-colored-not-active:hover {
    /*background-color: #00877a;*/
    background-color: #777;
}
.card-outside-colored-not-active .card-body {
    color:#fff;
}

/** OVERRIDE THEM FROM BOOTSTRAP AND MATERIAL **/
.dropdown-menu li a:hover, .dropdown-menu-default li a:hover {
    color: #558B2F;
}
.dropdown-menu {
    background-color: #eee !important;
}
a {
    color: #558B2F;
}
a:hover {
    color: #669643;
}
.link-admin {
    color: #555555 !important;
    display: block;
}

/** NEW ELEMENTS **/
.divider-line {
    color: #444;
}


/** GENERAL **/
.footer {
    background-color: #222222;
    padding: 28px 8px;
}
.footer-headings {
    font-size: 18px;
}
.col-social {
}
.social-icon {
    padding:4px;
    height: 64px;
    width: 64px;
    transition: ease 200ms;
    -webkit-transition: ease 200ms;
}
.social-icon:hover {
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
}
pre {
    background-color: rgba(255,255,255,0);
}
.navbar .navbar-nav .open .dropdown-menu > li > a {
    color: rgba(0, 0, 0, 0.84) !important;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #558B2F !important;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.bold {
    font-weight: bold;
}
.modal-content {
    background-color: #444;
}
.form-wrap.well.well-trans{
    background-color: #444;
    color: #e5e5e5;
}

.text-header{
    font-size: 6.25em;
    font-family: 'Buenard', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin: 40px auto 0;
    transition: ease 200ms;
}
.text-subheader{
    font-size: 25px;
    font-weight:lighter;
    margin: 0 auto 15px;
    transition: ease 200ms;
}

.heading-logo {
    max-width: 450px;
    padding-top:32px;
    padding-bottom: 64px;
}
.home-container {
    background: none !important;
}

/*.text-header, .text-subheader{*/
    /*text-align:center;*/
    /*color:#fff;*/
/*}*/